	.programado-form {
			background-color: rgba(23, 32, 42,.2);
			margin: 20px auto;
			width: 770px;
			font-family: Tahoma, Geneva, sans-serif;
				padding: 10px;
					color: #17202A;
font-size: 14px;
					border-radius: 5px
		}

	



		.programado-form h2 {
			text-align: center;
			color: #17202A ;
			font-size: 22px;
			padding: 20px 10px 20px 0;
	
		}
		.programado-form .buscar{

		text-align: center;
			color: #17202A ;
			font-size: 22px;
			padding: 3px 10px 20px 0;


		}
				.programado-form .buscar input{

			border: 3px solid rgba(23, 32, 42,.5);
			margin-bottom: 15px;
			box-sizing:border-box;
					border-radius: 5px;

		}
				.programado-form .buscar button{

			border: 3px solid rgba(23, 32, 42,.5);
			margin-bottom: 15px;
			box-sizing:border-box;
					border-radius: 5px;


			width: 10%;
			padding: 6px;
			background-color: #17202A ;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
.programado-form .buscar button:hover{


}

.programado-form form .left {
	
margin-left: 2%;
    float: left;
    position: relative;
     width: 385px;
    height: auto;

}
.programado-form form .right {
	
margin-right: -5%;
    float: right;
    position: relative;
   width: 385px;
    height: auto;
}
.programado-form form .left .dr1 .rd{
	margin-left: -40%;
display: inline-block;

}





.left input{
	text-align: center;

width: 88%;
			padding: 7px;
			border: 3px solid rgba(23, 32, 42,.5);
			margin-bottom: 15px;
			box-sizing:border-box;
					border-radius: 5px;
  display:block;

}

.right input{
  display:block;
  text-align: center;

width: 88%;
			padding: 7px;
			border: 3px solid rgba(23, 32, 42,.5);
			margin-bottom: 15px;
			box-sizing:border-box;
					border-radius: 5px;

}

	 input[type="submit"] {
	 	margin-left:220px;
border-radius: 5px;
margin-bottom: 15px;
			width: 50%;
			padding: 15px;
			background-color: #17202A ;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		input[type="submit"]:hover {

			background-color: #34495E ;
		}

			 input[type="reset"] {
margin-left:220px;

			width:50%;
			padding: 15px;
			background-color: #3A090F ;
			border: 0;
			border-radius: 5px;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;

		}
		input[type="reset"]:hover {

			background-color: #7D434B ;
		}